---
import Layout from "@/layouts/MainLayout.astro";
---

<Layout>
  <h1 class="text-3xl">Página protegida</h1>
  <p>
    Ea veniam ad proident deserunt cillum. Consectetur consectetur exercitation
    consequat exercitation nostrud cillum laboris do occaecat eu id aliqua.
    Laboris est adipisicing culpa Lorem excepteur laboris adipisicing elit.
    Velit proident in dolore sint in fugiat eiusmod est eu ipsum eu esse.
    Laboris proident excepteur enim et dolore tempor consectetur ullamco eiusmod
    non officia minim. Excepteur sunt velit non et est dolore. Aliquip non nisi
    id elit quis pariatur in Lorem in proident Lorem ut dolore eu. Pariatur
    adipisicing sit ipsum magna est non aute quis amet excepteur quis in
    proident ipsum. Ipsum proident nisi voluptate dolor deserunt veniam ea
    fugiat.
  </p>
</Layout>
